body { font-family: "roboto",Arial, Helvetica, sans-serif}
input[type="button"],
input[type="submit"] { margin: 5px }

.btn {
  display: inline-block;
  margin-bottom: 0;
  padding: 6px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-image: none;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  cursor: pointer;
  -moz-user-select: none
}

.btn-default {
  border-color: #ccc;
  background-color: #fff;
  color: #333
}

.btn-primary {
  border-color: #357ebd;
  background-color: #428bca;
  color: #fff
}

.btn-success {
  border-color: #4cae4c;
  background-color: #5cb85c;
  color: #fff
}

.btn-info {
  border-color: #46b8da;
  background-color: #5bc0de;
  color: #fff
}

.btn-warning {
  border-color: #eea236;
  background-color: #f0ad4e;
  color: #fff
}

.btn-danger {
  border-color: #d43f3a;
  background-color: #d9534f;
  color: #fff
}
